<html>
    <head>
        <title>Student App</title>
        <style>
            body {
                margin: 10px;
                padding: 10px;
                font-family: 'Courier New', Courier, monospace;
                background: #f4f4f4;
            }
            .menu {
                background: #333;
                padding: 15px;
            }
            .menu a {
                color: white;
                text-decoration: none;
                margin-right: 15px;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <div class="menu">
            <a href="/home/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact Us</a>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>